<div class="container w-container">
  <div class="form-wrapper w-form">
    <form class="form w-clearfix" data-name="Login Form" id="email-form" name="email-form">
      <input class="button form-field full-width w-button" data-wait="Please wait..." (click)="loginFacebook()" value="Login with Facebook">
      <div class="center">OR</div>
      <input class="form-field w-input" data-name="Username" id="Username" maxlength="256" name="Username" placeholder="Username" required="required" type="text">
      <input class="form-field w-input" data-name="Password" id="Password" maxlength="256" name="Password" placeholder="Password" required="required" type="password">
      <input class="button loginbutton w-button" data-wait="Please wait..." type="submit" value="Login">
    </form>
  </div>
</div>
